body {
	margin: 0;
	padding: 0;
	font-family: Circular, -apple-system, BlinkMacSystemFont, Montserrat, sans-serif;
}

form {
    margin: none;
}

@keyframes opacity-animation {
  0%   { opacity: 1; }
  100% { opacity: 0.6; }
}

@keyframes call-button-animation {
	0% { background: transparent; }
  100% { color: white; background: #399f00; }
}

@keyframes input-button-animation {
	0% { border: 1px solid #58c61b; background: #58c61b; }
  100% { border: 1px solid #399f00; background: #399f00; }
}

@keyframes catalog-td-animation {
	0% { background: red; }
  100% { background: #b30000; }
}

header {
	z-index: 10;
	position: absolute;
	width: 100%; 
	height: 80pt;
	display: flex;
	line-height: 80pt;
	font-weight: 700;
	font-size: 14pt;
}

.header_block {
	width: 100%;
}

.a_logo {
	display: inline-block;
	height: 100%;
}

a {
	text-decoration: none;
	color: black;
}

a:hover {
	opacity: 0.6;
	animation: opacity-animation .2s;
}

img {
	max-width: 100%;
	max-height: 100%;
}

table {
	position: relative;
	line-height: 50pt;
	top: 15pt;
	margin: 0 auto;
	border-spacing: 20pt 0;
}

tbody {
}

td {
	border-radius: 2pt;
	padding: 0 20pt;
	background: red;
}

td:hover {
	animation: catalog-td-animation .2s;
	background: #b30000;
}

td a {
	display: flex;
	width: 100%;
	height: 100%;
	color: white;
}

td a:hover {
	opacity: 1;
	animation: none;
}

.p_number {
	margin-right: 20pt;
	text-align: right;
}

.p_number::before {
	margin-right: 5pt;
	content: url(img/phone.svg);
}

.call_button {
	background: transparent;
	margin-left: 10pt;
	padding: 5pt 10pt;
	border: 1px solid #399f00;
	border-radius: 2pt;
	font-size: 12pt;
	font-weight: 400;
	color: #399f00;
}

.call_button:hover {
	animation: call-button-animation .2s;
	background: #399f00;
	color: white;
	cursor: pointer;
}

#header_menu {
	width: auto;
	margin: 15pt 15pt auto 0;
	display: none;
}

#mobile_menu {
	position: fixed;
	width: 100%;
	height: 100vh;
	display: none;
	background: white;
}

.mobile_menu_block {
	line-height: normal;
	padding: 10pt 20pt;

}

.menu {
	margin-left: auto;
	background: black;
	height: 5pt;
	width: 35pt;
	margin-bottom: 6pt;
}

#order_id {
	z-index: 100;
	position: fixed;
	display: none;
	height: 100vh;
	width: 100vw;
}

#order_background {
	background: rgba(0, 0, 0, 0.5);
	height: inherit;
	width: 100%;
	position: absolute;
}

#order_div {
	border-radius: 4pt;
	background: white;
	margin: auto;
	z-index: 100;
}

.order_h2 {
	text-align: center;
	font-weight: 400;
	font-size: 25pt;
}

#order_h2_div {
	border-bottom: 1px solid black;
	padding: 20pt;
}

.form_label {
	margin: 5pt 0;
}

.form_button {
	background: transparent;
	padding: 5pt 10pt;
	border: 1px solid #399f00;
	border-radius: 2pt;
	font-size: 12pt;
	font-weight: 500;
	color: #399f00;
	display: block;
	margin: 0 auto;
}

.form_button:hover {
	animation: call-button-animation .2s;
	background: #399f00;
	color: white;
	cursor: pointer;
}

#order_form_div {
	margin: 20pt;
}

.order_form {
    display: table;
    width: 100%;
}

.input_order {
    margin: 0 auto 20pt;
	background: white;
	padding: 5pt 10pt; 
	font-size: 12pt;
	border-radius: 3pt;
	border: 1px solid black;
	box-sizing: border-box;
	width: 100%;
}

.input_order:hover {
	outline: none;
}

.input_order:focus {
	outline: none;
}

#intro {
	display: flex;
	justify-content: center;
	height: 100vh;
	background: no-repeat top/cover url(img/kucherlinskoe.jpg);
	overflow: hidden;
}

#intro_opacity {
	background: rgba(255, 255, 255, 0.2);
	height: inherit;
	width: 100%;
	position: absolute;
}

#intro_text {
	z-index: 9;
	text-align: center;
	font-size: 40pt; 
	font-weight: 700;
	margin-top: 140pt;
	color: #1e5600;
}

.intro_arrow {
	position: absolute;
	height: 5vh;
	bottom: 20pt;
}

#text1 {
	display: grid;
	margin: 0 auto;
}

.text1_h2 {
	font-weight: 400;
	font-size: 25pt;
	margin: 10pt auto 5pt;
}

h1 {
	text-align: center;
	margin: 0;
	margin-bottom: 10pt;
}

h2 {
	margin: 0;
}

#form_div {
}

.text1_disclaimer {
	font-weight: 400;
	margin: 15pt auto;
	text-align: center;
	font-size: 11pt;
	color: black;
}

.a_disc {
	text-decoration: underline;
}

.input_number {
	background: white;
	padding: 10pt 20pt; 
	font-size: 12pt;
	border-radius: 3pt;
	border: 1px solid white;
}

.input_number:hover {
	outline: none;
}

.input_number:focus {
	outline: none;
}

.input_button {
	background: #58c61b;
	margin-left: 5pt;
	padding: 10pt 20pt; 
	font-size: 12pt;
	border-radius: 3pt;
	border: 1px solid #58c61b;
	color: white;
}

.input_button:hover {
	animation: input-button-animation .2s;
	cursor: pointer;
	background: #399f00;
	border: 1px solid #399f00;
}

#text2 {
	line-height: 1.5;
	background: #f6f6f7;
	z-index: 10;
	padding: 20pt 25%;
}

#text3 {
	line-height: 1.5;
	padding: 20pt 25%;
}

footer {
	font-weight: 300;
	background: #f6f6f7; 
	padding: 20pt 15%;
	display: flex;
}

#footer_info {
	margin: auto;
}

.right_float {
	float: right;
}

#text_prod {
	background: white;
	padding: 20pt 25%;
}

#prod_grid {
	display: grid;
	grid-template-columns: 25% 25% 25% 25%;
}

.prod_class {
	text-align: center;
	overflow: hidden;
	padding: 5pt;
}

.prod_class_text {
	color: black;
}

.prod_class img {
	width: 100%;
	border-radius: 200pt;
	border: 2px solid #58c61b;
}

@media screen and (max-width: 1200px) {

	body {
		font-size: 1em;
	}

	header {
	    height: 40pt;
	}

	#header_catalog, #header_number {
		display: none;
	}

	#header_menu {
		display: block;
	}

	#text2, #text3, #text_prod, footer {
		padding: 20pt 5%;
	}

}

@media screen and (max-width: 500px) {

	#form_div {
		display: flex;
		flex-wrap: wrap;
	}

	#intro_text {
		font-size: 30pt;
	}

	.text1_h2 {
		font-size: 22pt;
		margin: 10pt 5pt;
	}

	.input_number {
		width: 100%;
		margin: 0 10pt;
		margin-bottom: 10pt;
	}

	.input_button {
		margin: 0 10pt;
		width: 100%;
	}

	.text1_disclaimer {
		font-size: 12pt;
		margin: 15pt 10pt;
	}

	#prod_grid {
		grid-template-columns: 50% 50%;
	}

	#intro_text {
	margin-top: 50pt;
	}

}
